{% extends "base.jinja2" %}
{% block content %}
 <div class="form_autorization">
        <div class="autoization">
            <h3 class="enter_tel">Введите телефон в формате 8xxxxxxxxxx: </h3>
            <form action="code" method="POST" id="form" class="enter enter_tel" >
                <p><input type="tel" name="tel" pattern="8[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}"></p>
                <div class="button get_code">

                        <input type="submit" value="Получить код">

                 </div>

            </form>

        </div>

    </div>
{% endblock content %}